.entry-grid {
  font-family: 'Caslon', serif;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 85%;
  margin-top: 3%;
  padding-left: 0.6%;
  padding-right: 0.6%;
}

.entry-card {
  width: 100%;
  position: relative;
  color: white;
}

.entry-card img {
  object-fit: cover;
  width: 100%;
  height: 16vw;
}

.entry-card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5%;
  text-align: center;
  background-color: #6e6e6e;
  color: white;
  margin: auto;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 2s;
}

.entry-card-container:hover {
  opacity: 1;
}

.entry-text {
  cursor: pointer;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2vw;
  transform: translate(-50%, -50%);
}

.entry-text h3 {
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 0.2em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.entry-text p {
  font-size: 0.7em;
  color: #7bc7a6;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.entry-text p span {
  color: #d1d1d1;
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  .entry-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 0;
  }

  .entry-card img {
    width: 100%;
    height: 30vw;
  }

  .entry-text {
    font-size: 3.5vw;
  }
}