.modal {
  display: none;
  text-align: justify;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #7bc7a6;
  color: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 70%;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-content p:nth-child(2) {
  padding: 6% 3% 2% 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
}

.modal-content p:nth-child(3) {
  padding: 2% 3% 6% 3%;
  font-family: 'Caslon', serif;
  font-size: 2vw;
}

.close {
  padding: 1% 0 0 0;
  color: white;
  float: right;
  font-size: 3vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
  }
}