#entry-container {
  width: 75%;
  margin: auto;
  display: flex;
}

#display-entry {
  padding-bottom: 3%;
  margin: 0 auto;
  color: black;
  font-family: 'Caslon', serif;
  background: white;
}

#display-entry img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  padding-bottom: 2%;
}

#display-entry h2 {
  padding: 0 5% 0 5%;
  font-size: 6vh;
  font-family: 'Montserrat', sans-serif;
}

#display-entry #header {
  font-size: 150%;
  color: #7bc7a6;
  padding: 3%;
}

#date {
  padding-left: 5%;
  padding-right: 5%;
  color: #6e6e6e;
}

#display-likes {
  margin: 0 auto;
  vertical-align: middle;
}

#display-likes img {
  vertical-align: middle;
  height: auto;
  padding-top: 1.3%;
}

#like-icon img {
  cursor: pointer;
  width: 58px;
}

#like-count, #comment-count {
  padding-left: 0.5%;
  padding-right: 4%;
  font-size: 0.8em;
  color: black;
}

#comment-icon {
  margin: 0 auto;
  vertical-align: middle;
}

#comment-icon img {
  width: 32px;
}

#display-entry-content {
  padding: 1% 20% 3% 20%;
  line-height: 2em;
  font-size: 1.4em;
  text-align: justify;
  white-space: pre-line;
}

#contributor-heading, #comments-heading {
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 3vh;
  line-height: 3vh;
  text-align: center;
  cursor: pointer;
  color: #6E6E6E;
  opacity: 0.5;
  transition: opacity 1s;
}

#contributor-heading:hover, #comments-heading:hover {
  opacity: 1;
}

#contributor-heading span, #comments-heading span {
  vertical-align: middle;
  color: #7bc7a6;
  font-size: 1.4em;
  line-height: 1.4em;
}

#author-bio, #make-comment {
  text-align: justify;
  font-family: 'Caslon', serif;
  font-size: 3vh;
  color: #6E6E6E;
  width: 80%;
  margin: auto;
  padding-bottom: 3%;
}

hr {
  width: 80%;
  margin: 0 auto;
  border-top: 1px dotted #7bc7a6;
}

#comments {
  margin: 0 auto;
  width: 80%;
}

#comment-form {
  padding-bottom: 10%;
}

#comment-form input[type=text] {
  font-family: 'Caslon', serif;
  font-size: 0.8em;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #6E6E6E;
  border-radius: 0;
}

.comment-form-name {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding-right: 3%;
}

.comment-form-email {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.comment-form-content {
  padding-top: 10%;
}

.comment-form-submit {
  padding-top: 2%;
  float: right;
}

.show-comment {
  text-align: justify;
  padding: 2% 0 1% 0;
  color: #6E6E6E;
  font-size: 2.4vh;
}

.show-comment #comment-name {
  color: #7bc7a6;
  padding-right: 2%;
}

.show-comment #comment-created {
  color: #d1d1d1;
  font-size: 0.8em;
}

.show-comment #comment-content {
  padding-top: 1%;
}

@media screen and (max-width: 700px) {
  #entry-container {
    width: 100%;
  }

  #display-entry-content {
    padding: 1% 5% 0 5%;
    line-height: 2em;
    font-size: 1.4em;
    text-align: justify;
    white-space: pre-line;
  }

  hr {
    width: 100%;
  }
}