@font-face { font-family: Caslon; src: url('Adobe-Caslon-Pro Regular.ttf'); } 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #27272a;
}

section:nth-child(3) {
  text-align: center;
  padding-bottom: 0%;
}

section:nth-child(4) {
  text-align: center;
  padding-bottom: 2%;
}

#logo-title {
  cursor: pointer;
  text-align: center;
  font-size: 4vw;
  color: #7bc7a6;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  padding-top: 1%;
  letter-spacing: 1.25em;
  margin-left: 1.25em;
  /* margin-right: -1.25em; */
}

#logo-title img {
  width: 7%;
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

nav {
  text-align: center;
  font-size: 2vw;
  word-spacing: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-top: 2%;
  padding-bottom: 4%;
}

nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 0.5% 1%;
  transition: color 2s, background-color 2s;
}

nav a:hover {
  color: white;
  background-color: #6f6f73;
}

#about, #contact {
  padding-top: 1.5%;
  display: inline-block;
  width: 75%;
  text-align: justify;
  font-family: 'Caslon', serif;
  font-size: 5vh;
  line-height: 1.5;
  color: white;
}

#contact div {
  padding-bottom: 5%;
  line-height: 1em;
  text-align: center;
}

#contact a {
  font-family: 'Quattrocento', serif;
  color: #7bc7a6;
  text-decoration: none;
  vertical-align: middle;
}

#contact a:hover {
  color: white;
}

#contact img {
  width: 50px;
  vertical-align: middle;
}

#about p {
  padding: 2% 0;
}


#gastropoda {
  color: #7bc7a6;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.5em;
}

::placeholder {
  color:#b8b8b8;
  opacity: 1;
}

:-ms-input-placeholder {
  color:#b8b8b8;
}

::-ms-input-placeholder {
  color:#b8b8b8;
}