.slideshow {
  width: 100%;
  font-size: 1vh;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.slideshow img {
  opacity: 0.3;
  width: 75%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
  transition: opacity 2s;
}

.slideshow img:hover {
  opacity: 1;
}

.slideshow-left, .slideshow-right {
  font-size: 7em;
  background: none;
  border: none;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0.6;
  position: absolute;
  top: 47%;
  transition: color 1s, opacity 1s;
}

.slideshow-left:hover, .slideshow-right:hover {
  color: #7bc7a6;
  opacity: 1;
}

.slideshow-left {
  left: 0;
  margin-left: 14%;
}

.slideshow-right {
  right: 0;
  margin-right: 14%;
}

.slideshow p {
  width: 85%;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  font-family: 'Caslon', serif;
  display: none;
  text-align: left;
  position: absolute;
  top: 375px;
  padding-left: 15%;
}

#slideshow-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 6em;
}

#slideshow-author {
  font-size: 4em;
  color: #7bc7a6;
}

#slideshow-date {
  font-size: 4em;
  padding-left: 3%;
  color: #eeeeee;
  opacity: 0.6;
}

.slides {
  cursor: pointer;
  display: none;
}

.no-display {
  display: none;
}

@media screen and (max-width: 700px) {
  .slideshow p {
    font-size: 0.85em;
    top: 350px;
  }

  .slideshow img {
    width: 95%;
  }

  .slideshow p {
    width: 90%;
    margin-left: none;
  }
}