/* rgba(76, 175, 80, 0.1); */

@font-face { font-family: Caslon; src: url('Adobe-Caslon-Pro Regular.ttf'); } 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #27272a;
}

section:nth-child(3) {
  text-align: center;
  padding-bottom: 2%;
}

#logo-title {
  text-align: center;
  font-size: 4vw;
  color: #7bc7a6;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  padding-top: 1%;
  letter-spacing: 1.25em;
}

#logo-title a {
  text-decoration: none;
  color: #7bc7a6;
  margin-right: -1.25em;
}

#logo-title img {
  width: 7%;
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

nav {
  text-align: center;
  font-size: 2vw;
  word-spacing: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-top: 2%;
  padding-bottom: 3%;
}

nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 0.5% 1%;
  transition: color 2s, background-color 2s;
}

nav a:hover {
  color: white;
  background-color: #6f6f73;
}

#about {
  padding-top: 2%;
  display: inline-block;
  width: 75%;
  text-align: justify;
  font-family: 'Caslon', serif;
  font-size: 2.5vw;
  line-height: 1.5;
  color: white;
}

#about p {
  padding: 2% 0;
}

.form-container {
  width: 95%;
  font-size: 1.1vw;
  margin: auto;
  display: flex;
}

.left {
  position: relative;
  padding: 3% 3% 0 3%;
  font-family: 'Caslon', serif;
  color: white;
  text-align: justify;
  background: #424243;
  line-height: 1.5em;
  flex: 0.5;
}

.left p {
  padding-bottom: 3%;
  font-size: 0.9em;
}

.left img {
  padding-top: 5%;
  padding-left: 8%;
  width: 70%;
  position: absolute;
  bottom: 0;
}

.right {
  color: white;
  padding: 2% 3% 2% 3%;
  text-align: justify;
  flex: 1;
  background: #6e6e6e;
}

#submit-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

#submit-heading2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

#submit-subheading {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 3%;
}

#content {
  height: 125px;
}

input[type=text], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #7bc7a6;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  margin: auto;
  border-radius: 4px;
  transition: background-color 1s;
}

input[type=submit]:hover {
  background-color: #548a72;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Caslon', serif;
  font-size: 1em;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-85 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.submit{
  padding-top: 5%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.entry-row {
  font-family: 'Caslon', serif;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding-left: 0.6%;
  padding-right: 0.6%;
}

.entry-card {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5%;
  text-align: center;
  background-color: #424243;
  color: white;
  margin: auto;
  cursor: pointer;
}

.entry-card img {
  object-fit: cover;
  width: 100%;
  height: 225px;
  opacity: 0.5;
  filter: brightness(50%);
  transition: opacity 2s, filter 2s;
}

.entry-card img:hover {
  opacity: 1;
  filter: none;
}

.entry-text {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-text h3 {
  font-size: 2.5vw;
  line-height: 1em;
  padding-bottom: 0.5em;
}

.entry-text p {
  font-size: 1.3vw;
}

.entry-text p span {
  color: #d1d1d1;
}

#entry-container {
  width: 90%;
  margin: auto;
  display: flex;
}

#display-entry {
  margin: 0 auto;
  padding: 3% 5% 5% 5%;
  color: black;
  font-family: 'Caslon', serif;
  background: white;
}

#display-entry img {
  object-fit: cover;
  width: 60%;
  height: 325px;
  padding-bottom: 2%;
}

#display-entry h2 {
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
}

#display-entry h4 {
  font-size: 2vw;
  color: #7bc7a6;
  padding: 3%;
}


#display-entry h4 span {
  color: #6e6e6e;
  padding-left: 5%;
}

#display-entry p {
  line-height: 2em;
  font-size: 1.4em;
  text-align: justify;
  white-space: pre-line;
}

#contributor-heading, #comments-heading {
  width: 80%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 1.8em;
  text-align: center;
  cursor: pointer;
  color: #6E6E6E;
  opacity: 0.5;
  transition: opacity 1s;
}

#contributor-heading:hover, #comments-heading:hover {
  opacity: 1;
}

#contributor-heading span, #comments-heading span {
  color: #7bc7a6;
  font-size: 1.6em;
}

#author-bio, #display-comments {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: #6E6E6E;
  width: 80%;
  margin: auto;
}

/* ERROR FOR FORM (MODAL BOX) */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #7bc7a6;
  color: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 70%;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-content p:nth-child(2) {
  padding: 6% 3% 2% 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
}

.modal-content p:nth-child(3) {
  padding: 2% 3% 6% 3%;
  font-family: 'Caslon', serif;
  font-size: 2vw;
}

.close {
  padding: 1% 0 0 0;
  color: white;
  float: right;
  font-size: 3vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .entry-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .col-15, .col-85, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
