/* rgba(76, 175, 80, 0.1); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #27272a;
}

section {
}

section:nth-child(1) {
}

section:nth-child(2) {
}

section:nth-child(3) {
  text-align: center;
}

#logo-title {
  text-align: center;
  font-size: 4vw;
  color: #7bc7a6;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  padding-top: 1%;
  letter-spacing: 1.25em;
}

#logo-title a {
  text-decoration: none;
  color: #7bc7a6;
}

#logo-title img {
  width: 6%;
}

nav {
  text-align: center;
  font-size: 2vw;
  word-spacing: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-top: 2%;
  padding-bottom: 3%;
}

nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 0.5% 1%;
  transition: color 2s, background-color 2s;
}

nav a:hover {
  color: white;
  background-color: #6f6f73;
}

#about {
  display: inline-block;
  width: 75%;
  text-align: justify;
  font-family: 'Noto Serif', serif;
  font-size: 2vw;
  line-height: 2.5;
  color: white;
}

.entries-container {
  display: flex;
}

.container {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.item {
  border-radius: 8px;
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
  padding: 0px 5px;
  cursor: pointer;
  max-height: 100%;
  opacity: 0.5;
  filter: grayscale(75%);
}

.item:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.item p {
  padding: 5px 0;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: #875b39;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.entries-container:focus-within .item,
.entries-container:hover .item {
  transform: translateX(-25%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.entries-container .item:focus,
.entries-container .item:hover {
  /* opacity: 1; */
  transform: scale(1.5);
  z-index: 1;
}

.item img {
  border-radius: 8px 8px 0 0;
  display: block;
  width: 100%;
  height: 75%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#display-entry {
  text-align: justify;
  position: relative;
}

#display-entry::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../images/gastropoda-logo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.05;
}

.display-entry-div {
  padding: 20px 120px 40px 120px;
  font-family: 'Noto Serif', serif;
  line-height: 2;
  color: #777777;
  background: rgba(76, 175, 80, 0.1);
}

.display-entry-div h2 {
  font-weight: 400;
  letter-spacing: 5px;
  color: #7bc7a6;
  text-align: center;
  font-size: 3em;
}

.display-entry-div h3 {
  color: #777777;
  font-weight: 300;
  text-align: center;
  font-size: 22px;
}

.display-entry-div h4 {
  color: #777777;
  text-align: center;
  font-size: 18px;
}

.form-container {
  width: 75%;
  font-size: 1.2vw;
  margin: auto;
  display: flex;
}

.left {
  position: relative;
  padding: 3% 3% 0 3%;
  font-family: 'Noto Serif', serif;
  color: white;
  text-align: justify;
  background: #424243;
  line-height: 2em;
  flex: 0.5;
}

.left img {
  width: 80%;
  position: absolute;
  font-size: 1em;
  bottom: 0;
}

.right {
  color: white;
  padding: 3% 6% 2% 3%;
  text-align: justify;
  flex: 1;
  background: #6e6e6e;
}

#submit-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #7bc7a6;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  margin: auto;
  border-radius: 4px;
  transition: background-color 1s, color 1s;
}

input[type=submit]:hover {
  background-color: #4e806a;
  color: white;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Noto Serif', serif;
  font-size: 1em;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-85 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.submit{
  padding-top: 5%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.entry-row {
  font-family: 'Noto Serif', serif;
  margin: 0 -5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.entry-column {
}

.entry-card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5%;
  text-align: center;
  background-color: #424243;
  color: white;
  margin: auto;
}

.entry-card img {
  width: 100%;
  opacity: 0.5;
  filter: brightness(75%);
  transition: opacity 2s, filter 2s;
}

.entry-card img:hover {
  opacity: 1;
  filter: brightness(100%);
}

.entry-text {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-text h3 {
  font-size: 2.5vw;
  line-height: 1em;
  padding-bottom: 0.5em;
}

.entry-text p {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .entry-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
